<?xml version="1.0"?>

<!--
/**
 * This is a demonstration module provided by Klevu with no guarantees, active support, or planned updates
 * It should be used as a base to create your own extension implementing the specific functionality
 *  required for your installation, rather than being directly installed as an out-of-the-box solution
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Klevu\IndexingProducts\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Add">
        <arguments>
            <argument name="pipelineConfigurationOverrideFilepaths" xsi:type="array">
                <item name="vendor_klevuindexingstockstatus_indexing_product_add_update"
                      xsi:type="string">Vendor_KlevuIndexingStockStatus::etc/pipeline/indexing/product/add_update.overrides.yml</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\Service\Provider\PipelineConfigurationOverridesFilepathsProvider\Update">
        <arguments>
            <argument name="pipelineConfigurationOverrideFilepaths" xsi:type="array">
                <item name="vendor_klevuindexingstockstatus_indexing_product_add_update"
                      xsi:type="string">Vendor_KlevuIndexingStockStatus::etc/pipeline/indexing/product/add_update.overrides.yml</item>
            </argument>
        </arguments>
    </virtualType>

</config>
